.ShopItem {
  background: white;
  border: 4px solid #f5df19;
  padding: 0.5rem;
  border-radius: 2px;
  cursor: pointer;
}

.ShopItem h4 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.ShopItem:hover {
  background: #fae209;
  color: black;
}

.ShopItem + .ShopItem {
  margin-top: 1rem;
}
